body {
    font-weight: bold;
    font-size: 30px;
    width: 70vw;
}

.header-flex {
    display: flex;
    height: 10vh;
    background-color: rgb(199, 198, 198);
    justify-content: center;
    align-items: center;
}

.main-flex {
    display: flex;
    height: 60vh;

}

.section-flex {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: blanchedalmond;
}

.main-div-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-flex {
    height: 10vh;
    width: 45%;
    margin: 10px;
    text-align: center;
    background-color: rgb(243, 183, 93);
}

.div-flex:nth-of-type(3) {
    width: 93%;
}

.aside-flex {
    width: 30%;
    text-align: center;
    background-color: rgb(219, 252, 219)
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    background-color: rgb(199, 198, 198);

}

.footer-section {
    height: 50%;
    width: 20%;
    text-align: center;
    background-color: white;
}